/* Restablecer m치rgenes y rellenos a 0 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  font-family: Arial, sans-serif; /* O el que prefieras */
}

/* Restablecer listas */
ul,
ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Asegurar que todos los enlaces no tengan subrayado por defecto */
a {
    text-decoration: none;
    color: inherit;
}

/* Establecer el tama침o de las im치genes como m치ximas */
img {
    max-width: 100%;
    height: auto;
}